
/Master/CustomBookingEngine/CBS.WebAPI/obj
/Master/CustomBookingEngine/.vs
/Master/CustomBookingEngine/CBS.Core/bin
/Master/CustomBookingEngine/CBS.Core/obj
/Master/CustomBookingEngine/CBS.DataContext/bin
/Master/CustomBookingEngine/CBS.DataContext/obj
/Master/CustomBookingEngine/CBS.Entity/bin
/Master/CustomBookingEngine/CBS.Entity/obj
/Master/CustomBookingEngine/CBS.WebAPI/bin
/Master/CustomBookingEngine/CBS.Aspire/CBS.Aspire.AppHost/bin
/Master/CustomBookingEngine/CBS.Aspire/CBS.Aspire.AppHost/obj
/Master/CustomBookingEngine/CBS.Aspire/CBS.Aspire.ServiceDefaults/bin
/Master/CustomBookingEngine/CBS.Aspire/CBS.Aspire.ServiceDefaults/obj
/Master/CustomBookingEngine/CBS.DTO/obj
/Master/CustomBookingEngine/CBS.DTO/bin
