
/Master/CustomBookingEngine/CBS.WebAPI/obj
/Master/CustomBookingEngine/.vs
/Master/CustomBookingEngine/CBS.Core/bin
/Master/CustomBookingEngine/CBS.Core/obj
/Master/CustomBookingEngine/CBS.DataContext/bin
/Master/CustomBookingEngine/CBS.DataContext/obj
/Master/CustomBookingEngine/CBS.Entity/bin
/Master/CustomBookingEngine/CBS.Entity/obj
/Master/CustomBookingEngine/CBS.WebAPI/bin
